.glass{
    position: absolute;
    width: 1200px;
    background: rgba(225, 225, 225, .1);
    box-shadow: 0 25px 45px rgba(0,0,0, .2);
    border-radius: 10px;
    border: 2px solid rgba(225, 225, 225, .2);
    border-bottom: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(10px);
    padding-bottom: 0;
    padding-top: 0;
}
.container{
    padding-top: 200px;
}
.judul {
    
    width: 100%;
    background: rgba(8, 4, 4, 0.251);
    box-shadow: 0 25px 45px rgba(0,0,0, .2);
    border-radius: 10px;
    border: 2px solid rgba(28, 27, 27, 0.2);
    border-bottom: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(10px);
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}
.isi {
    
    width: 100%;
    background: rgba(8, 4, 4, 0.251);
    box-shadow: 0 25px 45px rgba(0,0,0, .2);
    border-radius: 10px;
    border: 2px solid rgba(28, 27, 27, 0.2);
    border-bottom: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(10px);
    padding-bottom: 0;
    padding-top: 0;
   text-align: center;
   font-size: 10px;
}