body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url(wallpaperflare.com_wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.glass{
    position: absolute;
    width: 800px;
    height: 400px;
    background: rgba(225, 225, 225, .1);
    box-shadow: 0 25px 45px rgba(0,0,0, .2);
    border-radius: 50px;
    border: 2px solid rgba(225, 225, 225, .2);
    border-bottom: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(10px);
}