.glass{
    position: absolute;
    width: 1100px;
  
    background: rgba(225, 225, 225, .1);
    box-shadow: 0 25px 45px rgba(0,0,0, .2);
    border-radius: 10px;
    border: 2px solid rgba(225, 225, 225, .2);
    border-bottom: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(10px);
}
.table{
    color: white;
}